@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

.container-fluid {
    padding: 0;
}

/* nav */
.navbar-brand {
    margin-left: 1em;
}

#navbarNav {
    margin-right: 1.5em;
}

.nav-link {
    color: #f4f4f4;
    font-size: 16px;
    font-weight: bold;
}

.nav-link i {
    padding-right: .6rem;
}

/* header */
header {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}

.line {
    flex: 1;
    height: 3px;
    background-color: #000;
}

h1 {
    padding: 0 1.6em;
    text-transform: uppercase;
}

/* icons */
@media (max-width: 430px) {
    .slide h2 i {
        display: block;
    }
}

.slide h2 {
    background-color: #f4f4f4;
}

.slide:nth-child(odd) {
    -webkit-animation-name: appearL;
            animation-name: appearL;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes appearL {
    from {transform: translateX(-3000px);}
}

@keyframes appearL {
    from {transform: translateX(-3000px);}
}

.slide:nth-child(even) {
    -webkit-animation-name: appearR;
            animation-name: appearR;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes appearR {
    from {transform: translateX(3000px);}
}

@keyframes appearR {
    from {transform: translateX(3000px);}
}

/* form */
form {
    background-color: #f4f4f4;
}

.label {
    padding: 0 0 .1em .1em;
}

.invalid {
    border: 4px solid red;
}
#errorPassword, 
#errorFirstName, 
#errorLastName, 
#errorAddress, 
#errorEmail, 
#errorPhone {
    display: none;
    color: red;
}

/* footer */
footer {
    height: 20vh;
    margin-top: 4em;
    color: #f4f4f4;
}

footer div {
    padding-top: 2em;
}